* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Times New Roman', serif;
    background-color: #f5f5f5;
}

body {
    font-size: 1.6rem;
    background-color: rgb(226, 227, 228);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

a {
    color: rgb(58, 137, 240);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.menu {
    background-color: #333;
    padding: 1.5rem;
}

.menu a {
    color: white;
    display: block;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.content {
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
}

.post {
    background-color: white;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px ;
    border-radius: 10px;
}

@media (min-width: 600px) {
    .content:not(:has(.single-post)) {
        grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    }}